.main_information {

}
.headerimg {
    width: 1000px;
}
.user_photo img{
    height: 250px;
    width: 250px;
}
.user_photo {
    margin: 15px 15px 15px 45px;
}
.user_container {
    margin-top: 15px;
}
.user_status {
    font-style: italic;
}
.hr-three-color {
    margin: 20px 0;
    padding: 0;
    height: 2px;
    border: none;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #000;
    background: orange;
}