.main_information {
    background-color: white;
    margin-bottom: 5%;
    padding-bottom: 15%;
    margin-top: 5%;
    padding-top: 5%;
    border-radius: 1%;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75);
}
.user_photo_container {
    padding: 10%;
}
.user_photo_container input {
    position: absolute;
    top: 0;
}

.user_status {
    color: #6c757d;
    padding: 3% 3% 3% 0;
    margin-right: 5%;
    margin-bottom: 5%;
    border-bottom: 1px solid lightgrey;
}
.edit_button_container {
    float: right;
    margin: 0 5% 5% 5%;
}
.edit_button_container button img{
    width: 35px;
    height: 35px;

}
.edit_button_container button {
    background: transparent;
    border: none;
}
.edit_button_container button:hover {
    opacity: .7;
}
.info_block {

}
.user_container {

}
.looking_job .looking_job__true{
    color: #34ce57;
    font-weight: bold;

}
.looking_job .looking_job__false{
    color: crimson;
    font-weight: bold;

}
.contact_container {
    padding-left: 5%;
}