.page {
    border: 1px solid lightgray;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
.page:hover {
    border: 2px solid cornflowerblue;
    opacity: .7;
}
.selectedPage {
    font-weight: bold;
    border: 2px solid cornflowerblue;
}
.pages {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pag_btn {
    background: cornflowerblue;
    border: none;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    color: white;
}
.pag_btn:hover {
    opacity: .8;
}