.preloader_gif img{
    position: fixed;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -75px; /* Negative half of height. */
    margin-left: -75px; /* Negative half of width. */
}
.init_preloader_gif img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -75px; /* Negative half of height. */
    margin-left: -75px; /* Negative half of width. */
}
