.header {
}
.header img {
    width: 30px;
    height: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.loginBlock {
    text-align: right;
    color: white;
    font-weight: bold;
    margin: 15px 15px 15px 15px;
}
.loginBlock a{
    text-decoration: none;
    color: white;
}