.nav {
    padding-left: 25px;
    font-size: 30px;
    margin-top: 10px;
}
.item {
    display: flex;
    flex-direction: row;
}
.item span {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item span img {
    width: 25px;
    height: 25px;
}
.item a:active,
.item a {
    color: cornflowerblue;
    text-decoration: none;
    font-family: 'Patua One', cursive;
}

.item a:hover {
    text-decoration: none;
    opacity: 0.7%;
}
.item a.activeLink {
    color: midnightblue;
    text-decoration: none;
}