.nav {
    padding-left: 25px;
    font-size: 30px;
    margin-top: 10px;
    padding-bottom: 5%;
    padding-top: 5%;
}
.item {
    display: flex;
    flex-direction: row;
}
@media (max-width: 767px) {
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
.item span {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item span img {
    width: 25px;
    height: 25px;
}
.item:active,
.item .text {
    color: cornflowerblue;
    font-family: 'Patua One', cursive;
}

.item:hover {
    text-decoration: none;
    opacity: 0.7;
}
.activeLink .text {
    color: crimson;
    text-decoration: none;
}