.content {
    margin-bottom: 10%;
    padding: 5%;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75);
    margin-top: 10px;
}

.dialog a:active,
.dialog a:hover,
.dialog a {
    text-decoration: none;
}
.dialog a.activeLink {
    color: darkred;

}

.addmsg {
    padding-top: 5%;
}
.msgbtn {

}
.custom__btn {
    background-color: cornflowerblue;
    width: 100px;
}